<h1>System Obsługi Serwisów</h1>
<h2>Witaj <%= @user.full_name %>, twoje zgłoszenie zostało zamknięte!</h2>

<p>
	Skoro widzisz tą wiadomość to znaczy że zgłoszenie o numerze <%= @task.id %>, zostało zakmnięte i zarchiwizowane!<br />
	Możesz zalogować się pod tym <a href="<%= @url %>">linkiem</a>.<br />
</p>

<p>
	Prosimy zgłosić się po odbiór sprzętu.
</p>