<h2>Wyślij ponownie link potwierdzający</h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :login %><br />
  <%= f.text_field :login, :autofocus => true %></div>

  <div><%= f.submit "Wyślij ponownie" %></div>
<% end %>

<%= render "devise/shared/links" %>
