<h2>Edycja profilu użytkownika: <%= current_user.username %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label "E-mail" %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :current_password %> <i>(Potrzebujemy twojego aktualnego hasła by móc potwierdzić zmiany.)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.label :password %> <i>(Pozostaw puste jeśli nie chcesz zmieniać hasła.)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

   <div><%= f.label "Pełna nazwa" %><br />
  <%= f.text_field :full_name %></div>

  <div><%= f.label "Ulica" %><br />
  <%= f.text_field :street %></div>

  <div><%= f.label "Miasto" %><br />
  <%= f.text_field :city %></div>

  <div><%= f.label "Kod pocztowy" %><br />
  <%= f.text_field :zip_code %></div>

  <div><%= f.label :nip %><br />
  <%= f.text_field :nip %></div>

  <div><%= f.label "Telefon" %><br />
  <%= f.text_field :telephone %></div>

  <div><%= f.submit "Aktualizuj" %></div>
<% end %>

<h3>Usuwanie konta</h3>

<p>Jesteś niezadowolony z naszych usług? <%= link_to "Skasuj moje konto", registration_path(resource_name), :data => { :confirm => "Czy jesteś tego pewny?" }, :method => :delete %></p>

<%= link_to "Wróć", :back %>
