<h2>Zarejestruj się</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :username, "Nazwa użytkownika" %><br />
  <%= f.text_field :username, :autofocus => true %></div>

  <div><%= f.label :email, "E-mail" %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

 

  <div><%= f.submit "Zarejestruj się" %></div>
<% end %>

<%= render "devise/shared/links" %>
