<h2>Witaj <%= @user.full_name %>, twoje konto zostało usuniete.</h2>

<p>
	Skoro widzisz tą wiadomość to znaczy że zostałeś usunięty z Systemu Obsługi Serwisów. Jest nam niezmiernie przykro z tego powodu. W celu uzyskania informacji szczegółowych, należy skontatkować się z administratorem: bartlomiej.weber@gmail.com
	<br />
	Dziękujęmy za skorzystanie z naszych usług.
</p>