<h2>Witaj, <%= @user.full_name %>.</h2>

<p>
	Skoro widzisz tą wiadomość to znaczy, że twoje hasło w <strong>Systemie Obsługi Serwisów</strong>, zostało zrestartowane.
</p>

<p>
	Nazwa użytkownika: <%= @user.username %><br />
	Nowe hasło: <%= @password %><br />
	Zaloguj się na <a href="<%= @url %>">stronie głównej</a>
</p>

<p>
	Prosimy aby zaraz po zalogowaniu się do naszego serwisu, dokonać zmiany hasła.
	<br />
	Dziękujęmy za skorzystanie z naszych usług.
</p>