<h2>Witaj w Systemie Obsługi Serwisów, <%= @user.full_name %>.</h2>

<p>
	Skoro widzisz tą wiadomość to znaczy, że zostałeś zarejestrowany w naszym serwisie. Poniżej znajdują się dane do logowania.
</p>

Nazwa użytkownika: <%= @user.username %><br />
Hasło: <%= @password %><br />
Zaloguj się na: <a href="<%= @url %>">Stronę główną</a>

<p>
	Prosimy aby zaraz po zalogowaniu się do naszego serwisu, dokonać zmiany hasła. W przypadku gdy zapomni się hasła proszę o skontaktowanie się telefonicznie z serwisem pod mumerem: [numer telefonu]
	<br />
	Dziękujęmy za skorzystanie z naszych usług.
</p>