					<div class="table-responsive">
						<table class="table table-bordered text-center">
							<tr>
								<th>#</th>
								<th>Status</th>
								<th>Typ</th>
								<th>Utworzono</th>
								<th>Termin</th>
								<% if can? :update, Task %><th>Zmodyfikowano</th><% end %>
								<th>Akcje</th>
							</tr>
							<% @tasks.each do |task| %>
							<tr>
								<td><%= link_to task.id, task %></td>
								<td><%= task.status.name %></td>
								<td><%= task.type.name %></td>
								<td><%= l task.created_at, format: :long %></td>
								<td><%= l task.end_task, format: :long %></td>
								<% if can? :update, Task %>
									<td><%= l task.updated_at, format: :long %></td>
								<% end %>
								<td>
									<%= link_to [task, @item], class: "btn btn-primary btn-sm" do %>
										<span class="glyphicon glyphicon-folder-open"></span>
									<% end %>
									
									<% if task.lock != true %>
										<% if can? :update, Task %>
											 <%= link_to edit_task_path(task), class: "btn btn-warning btn-sm" do %>
													<span class="glyphicon glyphicon-pencil"></span>
											 <% end %>
										<% end %>
									<% end %>

									<% if can? :destroy, Task %>
										<%= link_to task_path(task), method: :delete, data: { confirm: "Czy na pewno chcesz usunąć to zlecenie?"}, class: "btn btn-danger btn-sm" do %>
											<span class="glyphicon glyphicon-trash"></span>
										<% end %>
									<% end %>
								</td>
							</tr>
							<% end # koniec bloku%>
						</table>
					</div> <!-- end table-responsive -->