<%= form_for (@task), class: "form-horizontal" do |f|%>
	<% if @task.errors.any? %>
		<div class="alert alert-danger">
			<h3>Nieprawidłowe wypełnienie formularza:</h3><hr/>
			<ul>
				<% @task.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<div class="row-fluid">
			<div class="col-md-6 col-md-offset-3">
			<% if current_user.role.id == 2  # Jeżeli użytkownik jest adminem lub kierownikiem %> 
				<div class="form-group">
					<%= f.label :responsible, "Odpowiedzialny za zgłoszenie" %>
					<%= collection_select(:task, :responsible, User.where('role_id = ?', 3), :full_name, :full_name, {},{class: "form-control"}) %>
				</div>

			<% elsif current_user.role_id == 1 %>
				<div class="form-group">
					<%= f.label :responsible, "Odpowiedzialny za zgłoszenie" %>
					<%= collection_select(:task, :responsible, User.where('role_id = ?', 3), :full_name, :full_name, {},{class: "form-control"}) %>
				</div>
			<% end %>
			  <div class="form-group">
				<%= f.label :description %>
				<%= f.text_area :description, class: "form-control", placeholder: "Opis zgłoszenia serwisowego" %>
			  </div>
			  <div class="form-group">
				<%= f.label :type %>
				<%= collection_select(:task, :type_id, Type.all, :id, :name, {},{class: "form-control"}) %>
			  </div>
			  <div class="form-group">
				<%= f.label :status %>
				<%= collection_select(:task, :status_id, Status.all, :id, :name, {},{class: "form-control"}) %>
			  </div>
			  <% if current_user.role != 'employe' %>
				<div class="form-group form-inline">
				<%= f.label :end_task %><br />
				<%= f.date_select :end_task, {default: 14.days.from_now}, {:class => 'form-control'}  %>
			  </div>
			  <% end %>
				<% if can? :create, Task %>
				   <div class="form-group">
					<%= f.label :note %>
					<%= f.text_area :note, class: "form-control", placeholder: "Notatka setwisowa" %>
				  </div>
				<% end %>
				<%= f.submit "Wyślij", class: "btn btn-default btn-block" %>
			</div>
		</div>
	</p>
<% end %>
