			<div class="col-md-2">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title text-center">Menu</h3>
					</div>
					<div class="panel-body">
							<%= link_to authenticated_root_path, class: "btn btn-primary btn-block" do %>
								<span class="glyphicon glyphicon-home"></span> Strona Główna
							<% end %>
						<% if can? :create, Task %>
							<%= link_to new_task_path, class: "btn btn-primary btn-block" do %>
								<span class="glyphicon glyphicon-plus"></span> Utwórz nowe zgłoszenie
							<% end %>
						<% end %>
							<%= link_to archive_path, class: "btn btn-primary btn-block" do %>
								<i class="fa fa-archive"></i> Archiwum zgłoszeń
							<% end %>												
					</div>
				</div>
			</div>