<% provide(:title, 'Archiwum zgłoszeń serwisowych') %>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Menu</h3>
				</div>
				<div class="panel-body">
						<%= link_to authenticated_root_path, class: "btn btn-primary btn-block" do %>
							<span class="glyphicon glyphicon-home"></span> Strona Główna
						<% end %>
					<% if can? :create, Task %>
						<%= link_to new_task_path, class: "btn btn-primary btn-block" do %>
							<span class="glyphicon glyphicon-plus"></span> Utwórz nowe zgłoszenie
						<% end %>
					<% end %>
						<%= link_to archive_path, class: "btn btn-primary btn-block" do %>
							<i class="fa fa-archive"></i> Archiwum zgłoszeń
						<% end %>												
				</div>
			</div>
		</div>
		<div class="col-md-10">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Lista zakończonych zgłoszeń serwisowych:</h3>
				</div>
				<div class="panel-body">
					<p class="text-center">
				<div class="well well-lg text-center">
						<% if current_user.role.name == "client" %>
							Poniżej znajduje się lista wszystkich twoich anulowanych oraz zakończonych zgłoszeń serwisowych.
						<% else %>
							Poniżej znajduje się lista wszystkich anulowanych oraz zakończonych zgłoszeń serwisowych.
						<% end %>
				</div>
					</p>		

				<!-- Tabela z listą zgłoszeń -->
			
				<% if current_user.role == 'client' %>
					<% if Task.where('archive = ?', true).where('user_id = ?', current_user.id).count > 0 # Jeślli liczba zleceń jest inna niż 0 %>
						<%= render 'table_tasks' %>
					<% else %>	
						<div class="well well-lg text-center">Aktualnie nie ma żadnych zgłoszeń zarchiwizowanych.</div>
					<% end # koniec if %>
				<% else %>
					<% if Task.where('archive = ?', true).count > 0 # Jeślli liczba zleceń jest inna niż 0 %>
						<%= render 'table_tasks' %>
					<% else %>	
						<div class="well well-lg text-center">Aktualnie nie ma żadnych zgłoszeń zarchiwizowanych.</div>
					<% end # koniec if %>

				<% end %>
				</div> <!-- end panel-body -->
				<div class="panel-footer">
					<span class="text-center">
						<%= will_paginate @tasks %>
					</span>
				</div>
			</div><!-- end panel -->
		</div><!-- end col-md-9 -->
	</div> <!-- row-fluid -->
</div> <!-- /container -->