<% provide(:title, "Edycja zlecenia nr: #{@task.id}") %>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-12">

			<ol class="breadcrumb">
			 	<li><%= link_to "Lista zleceń", tasks_path %></li>
			 	<li class="active">Edycja zlecenia</li>
			</ol>
		</div>
	</div>
	<div class="row-fluid">
					<div class="col-md-2">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title text-center">Menu</h3>
					</div>
					<div class="panel-body">
							<%= link_to authenticated_root_path, class: "btn btn-primary btn-block" do %>
								<span class="glyphicon glyphicon-home"></span> Strona Główna
							<% end %>
						<% if can? :create, Task %>
							<%= link_to new_task_path, class: "btn btn-primary btn-block" do %>
								<span class="glyphicon glyphicon-plus"></span> Stwórz nowe zgłoszenie
							<% end %>
						<% end %>
							<%= link_to archive_path, class: "btn btn-primary btn-block" do %>
								<i class="fa fa-archive"></i> Archiwum zgłoszeń
							<% end %>	
							<%= link_to tasks_path, class: "btn btn-primary btn-md btn-block"  do %>
								<span class="glyphicon glyphicon-arrow-left"></span> Wróć do listy zgłoszeń
							<% end %>											
					</div>
				</div>
			</div>
			<div class="col-md-10" >
			<div class="panel panel-default">
				<div class="panel-heading">
		    		<h3 class="panel-title text-center">Edycja zgłoszenia serwisowego:</h3>
		  		</div>
			  <div class="panel-body">
				<div class="well well-lg text-center">
					Poniżej znajduje się formularz edycji zgłoszenia serwisowego. W tym miejscu dokonujemy zmiany <strong>statusu</strong> zgłoszenia oraz jego terminu realizacji.
				</div>

				<%= render 'task_form' %>

			  </div>
			</div>
			</div>
		</div>
	</div>
</div>