<% provide(:title, 'Lista zgłoszeń serwisowych') %>
	<div class="container-fluid">
		<div class="row-fluid">
			<%= render'task_left_nav' %>
			<div class="col-md-10">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title text-center">Lista zgłoszeń serwisowych:</h3>
					</div>
					<div class="panel-body">
						<% if can? :update, Task %>
							<%= timesup_alert_danger %>
							<%= timesup_alert_warning %>
						<% end %>
					<div class="well well-lg text-center">
								<% if current_user.role.name == "client" %>
									Poniżej znajduje się lista wszystkich zgłoszeń serwisowych powiązanych z twoim kontem.
								<% elsif current_user.role.name == "employe" %>
									Poniżej znajduje się lista zleceń, które otrzymałeś od kierownika serwisu do obłużenia.
								<% elsif current_user.role.name == "menager" %>
									Poniżej znajduje się lista wszystkich zgłoszeń serwisowych, nie przypisanych do obsługi przez pracowników.
								<% else %>
									Poniżej znajduje się lista wszystkich aktualnie dostępnyc zgłoszeń serwisowych.
								<% end %>
					</div>

					<!-- Tabela z listą zleceń -->

					<% if @tasks.count > 0 # Jeślli liczba zleceń jest inna niż 0 %>
						<div class="table-responsive">
							<table class="table table-bordered text-center">
								<tr>
									<th>#</th>
									<th>Status</th>
									<th>Typ</th>
									<th>Utworzono</th>
									<th>Termin</th>
									<% if can? :update, Task %><th>Zmodyfikowano</th><% end %>
									<th>Akcje</th>
								</tr>
								<% @tasks.each do |task| %>
								<tr <% if can? :update, Task %><%= timesup_class(task.end_task) %><% end %>>
									<td><%= link_to task.id, task %></td>
									<td><%= task.status.name %></td>
									<td><%= task.type.name %></td>
									<td><%= l task.created_at, format: :long %></td>
									<td><%= l task.end_task, format: :long %>
										<% if can? :update, Task %><%= timesup_label(task.end_task) %><% end %>
									</td>
									<% if can? :update, Task %>
										<td><%= l task.updated_at, format: :long %></td>
									<% end %>
									<td>
										<%= link_to [task, @item], class: "btn btn-primary btn-sm" do %>
											<span class="glyphicon glyphicon-folder-open"></span>
										<% end %>

										<% if can? :update, Task %>
											<%= link_to edit_task_path(task), class: "btn btn-warning btn-sm" do %>
												<span class="glyphicon glyphicon-pencil"></span>
											<% end %>
										<% end %>

										<% if can? :destroy, Task %>
											<%= link_to task_path(task), method: :delete, data: { confirm: "Czy na pewno chcesz usunąć to zgłoszenie serwisowe?"}, class: "btn btn-danger btn-sm" do %>
												<span class="glyphicon glyphicon-trash"></span>
											<% end %>
										<% end %>
									</td>
								</tr>
								<% end # koniec bloku%>
							</table>
						</div> <!-- end table-responsive -->
					</div> <!-- end panel-body -->
						<div class="panel-footer">
							<div class="text-center">
								<%= will_paginate @tasks %>
							</div>
						</div>
						</div><!-- end table-responsive -->
					<% else %>	
						<div class="well well-lg text-center">Aktualnie nie ma żadnych aktywnych zgłoszeń serwisowych.</div>
					<% end # koniec if %>
				</div><!-- end panel -->
			</div> <!-- /col-md-12 -->
		</div> <!-- /row -->
	</div> <!-- /container -->
