<% provide(:title, 'Nowe zgłoszenie serwisowe') %>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-12">

			<ol class="breadcrumb">
			 	<li><%= link_to "Lista zleceń", tasks_path %></li>
			 	<li class="active">Nowe zlecenie</li>
			</ol>
		</div>
	</div>
		<div class="row-fluid">
						<div class="col-md-2">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title text-center">Menu</h3>
					</div>
					<div class="panel-body">
							<%= link_to authenticated_root_path, class: "btn btn-primary btn-block" do %>
								<span class="glyphicon glyphicon-home"></span> Strona Główna
							<% end %>
							<%= link_to archive_path, class: "btn btn-primary btn-block" do %>
								<i class="fa fa-archive"></i> Archiwum zgłoszeń
							<% end %>
							<%= link_to tasks_path, class: "btn btn-primary btn-md btn-block"  do %>
								<span class="glyphicon glyphicon-arrow-left"></span> Wróć do listy zgłoszeń
							<% end %>												
					</div>
				</div>
			</div>
		<div class="col-md-10">
			<div class="panel panel-default">
				<div class="panel-heading">
		    		<h3 class="panel-title text-center">Formularz nowego zlecenia:</h3>
		  		</div>
			  <div class="panel-body">
				<div class="well well-lg text-center">
					Poniżej znajduje się formularz utworzenia nowego zgłoszenia serwisowego. Prosimy o wprowadzenie <strong>opisu zgłoszenia</strong>, oraz sprawdzenia poprawności pozostałch danych. Po utworzeniu zgłoszenia automatycznie zostaniesz przekierowany do listy klientów.
				</div>

				<%= render 'task_form' %>
				
				<div class="row-fluid">
					<div class="col-md-12">

					</div>
				</div>
			  </div>
			  <div class="panel-footer"></div>
			</div>

		</div>
	</div>
</div>
