<% provide(:title, "Szczegóły zgłoszenia serwisowego nr: #{@task.id}" ) %>
<div class="container-fluid">


	<div class="row-fluid">
		<div class="col-md-12">
			<ol class="breadcrumb">
			  <li><%= link_to "Lista zleceń", tasks_path %></li>
			  <li class="active">Szczegóły zlecenia o nr: <%= @task.id %></li>
			</ol>
		</div>
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-heading">
		    		<h3 class="panel-title text-center">Menu:</h3>
		  		</div>
			  <div class="panel-body text-center">
				<p>
					<%= link_to authenticated_root_path, class: "btn btn-primary btn-block" do %>
						<span class="glyphicon glyphicon-home"></span> Strona Główna
					<% end %>
					<% if @task.lock != true %>
						<% if can? :update, Task %>
							 <%= link_to edit_task_path, class: "btn btn-block btn-warning" do %>
									<span class="glyphicon glyphicon-pencil"></span> Edycja
							 <% end %>
						<% end %>
					<% end %>
					<% if can? :destroy, Task %>
						<%= link_to task_path, method: :delete, class: "btn btn-block btn-danger" do %>
								<span class="glyphicon glyphicon-trash"></span> Usuń
						<% end %>
					<% end %>
					<% if @task.lock != true %>
						<% if can? :update, Item %>
							<%= link_to task_items_path(@task), class: "btn btn-block btn-success" do %>
								<span class="glyphicon glyphicon-plus"></span> Sprzęt
							<% end %>
						<% end %>
						<% if @task.user == nil %>
							<% if can? :update, Task %>
								<%= link_to clients_tasks_path, class: "btn btn-block btn-success" do %>
									<span class="glyphicon glyphicon-plus"></span> Klient
								<% end %>
							<% end %>
						<% else %>
							<% if can? :update, Task %>
								<%= link_to remove_client_tasks_path(@task, @task.user.id), class: "btn btn-block btn-danger" do %>
									<span class="glyphicon glyphicon-minus"></span> Klient
								<% end %>
							<% end %>
						<% end %>
					<% end %>
					<%= link_to tasks_path, class: "btn btn-block btn-primary" do %>
						<span class="glyphicon glyphicon-arrow-left"></span> Wróć do listy zgłoszeń
					<% end %>
				</p>
			  </div>
			</div>
		</div>
		<div class="col-md-7">
			<div class="panel panel-default">
				<div class="panel-heading">
		    		<h3 class="panel-title text-center">Szczegóły zgłoszenia serwisowego:</h3>
		  		</div>
			  <div class="panel-body">
			  	<% if can? :update, Task %>
			  		<%= timesup_showpage(@task.end_task) %>
			  		<%= did_client_fly_with_us(@task.user_id) %>
			  		<%= you_have_my_sword(@task.items) %>
			  	<% end %>
				<p>
					<strong>Opis zgłoszenia</strong><br />
					<%= @task.description %><br />
					<strong>Zgłoszenie utworzył:</strong> <%= @task.author %><br />
					<strong>Odpowiedzialny za zgłoszenie:</strong> <% if @task.responsible.nil? %> Brak <% else %><%= @task.responsible %><% end %>
						<hr />

					<strong>Termin realizacji: </strong><%= l @task.end_task, format: :long %><br />
					<strong>Status zlecenia: </strong><%= @task.status.name %><br />
					<strong>Typ zlecenia: </strong><%= @task.type.name %><br /><br />

					<% if can? :update, Task # Ukrycie notatki serwisowej przed klientem. %>
						<% if @task.note != nil %>
							<% if @task.note != "" %>
								<div class="col-md-12">
									<div class="panel panel-info">
										<div class="panel-heading">
								    		<h3 class="panel-title text-center">Notatka serwisowa:</h3>
								  		</div>
									  <div class="panel-body">
												<%= @task.note %>
									  </div>
									</div>
								</div>
							<% end %>
						<% end # koniec if @task.note != "" %>
					<% end # koniec if role client %>

				</p>
			  </div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Informacje o kliencie:</h3>
				</div>
				<div class="panel-body">
					<% if @task.user != nil %>
						<strong>Nr klienta: </strong><%= @task.user.id %><br />
						<strong>Imię i nazwisko: </strong><%= @task.user.full_name %><br />
						<strong>E-Mail: </strong><%= @task.user.email %><br />
						<strong>Login: </strong><%= @task.user.username %><br />
					<% else %>
						<div class="well well-lg text-center danger">Aktualnie nie ma żadnego klienta przypisanego do zgłoszenia.</div>
					<% end %>
				</div><!-- end panel-body -->
			</div><!-- end panel panel-success -->
		</div><!-- end col-md-3 info klinet -->
	</div> <!-- /row -->
		
	<% if @task.items.count != 0 %>
	<div class="row-fluid">
		<div class="col-md-12">
		<div class="panel panel-default">
			 <div class="panel-heading">
			    <h3 class="panel-title text-center">Serwisowany sprzęt:</h3>
			  </div>
			  <div class="panel-body">
				<!-- Tabela z przypisanymi kartami sprzętów -->

				<p>
					<div class="table-responsive">
						<table class="table table-bordered text-center">
							<tr>
								<th>ID</th>
								<th>Typ sprzętu</th>
								<th>Producent</th>
								<th>Model sprzętu</th>
								<th>Numer seryjny</th>
								<th>Data zakupu</th>
								<% if can? :update, Item %>
								<th>Utworzono</th>
								<th>Zmodyfikowano</th>
								<% end %>
								<th>Akcje</th>
							</tr>
						  <% @task.items.each do |item| %>
							<tr>
						                <td><%= link_to item.id, [@task,item] %></td>
						                <td><%= item.item_type %></td>
						                <td><%= item.item_producer %></td>
						                <td><%= item.item_model %></td>
						                <td><%= item.serial_number %></td>
						                <td><%= l item.purchase_date, format: :long %></td>
						                <% if can? :update, Item %>
						                <td><%= l item.created_at, format: :long %></td>
						                <td><%= l item.updated_at, format: :long %></td>
						                <% end %>
						                <td>
						                	<%= link_to [@task, item], class: "btn btn-primary btn-sm" do %>
												<span class="glyphicon glyphicon-folder-open"></span>
											<% end %>
						                	<% if can? :update, Item %>
						                	<%= link_to edit_task_item_path(@task, item), class: "btn btn-warning btn-sm" do %>
												<span class="glyphicon glyphicon-pencil"></span>
											<% end %>
											<% check_if_item_ta(@task, item) %>
											<%= link_to task_remove_item_path(@task, item), method: :get, class: "btn btn-danger btn-sm" do %>
												<span class="glyphicon glyphicon-minus"></span>
											<% end %>
											<% end %>
						                </td>
							</tr>
						  <% end # koniec bloku %>
						</table>
					</div> <!-- /table-responzive -->
				</p>
			  </div> <!-- /panel-body -->
			</div> <!-- /panel panel-default -->
		</div> <!-- /col-md-12 -->
	</div> <!-- /row -->
	<% end %>
</div> <!-- /container -->