<%= form_for ([@task, @client]), :url => {:action => "create_task_client", method: :post}, class: "form-horizontal" do |f|%>
	<% if @client.errors.any? %>
		<div class="alert alert-danger">
			<h3>Nieprawidłowe wypełnienie formularza:</h3><hr/>
			<ul>
				<% @client.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<div class="row-fluid">
			<div class="col-md-6 col-md-offset-3">
			 <div class="form-group">
				<%= f.label :full_name, "Imię i nazwiosko" %>
				<%= f.text_field :full_name, class: "form-control", placeholder: "Imię i nazwisko" %>
			</div>
			<div class="form-group">
				<%= f.label :email, "Adres E-mail" %>
				<%= f.email_field :email, class: "form-control",placeholder: "Adres E-mail" %>
			</div>
			<div class="form-group">
				<%= f.label :street, "Ulica" %>
				<%= f.text_field :street, class: "form-control", placeholder: "Ulica" %>
			</div>
			<div class="form-group">
				<%= f.label :city, "Miasto" %>
				<%= f.text_field :city, class: "form-control", placeholder: "Miasto" %>
			</div>
			<div class="form-group">
				<%= f.label :zip_code, "Kod Pocztowy" %>
				<%= f.text_field :zip_code, class: "form-control", placeholder: "Kod Pocztowy" %>
			</div>
			<div class="form-group">
				<%= f.label :telephone, "Telefon" %>
				<%= f.text_field :telephone, class: "form-control", placeholder: "Numer telefonu" %>
			</div>
			<div class="form-group">
				<%= f.label :nip, "NIP" %>
				<%= f.text_field :nip, class: "form-control", placeholder: "Numer NIP" %>
			</div>
			<div class="form-group">
				<%= f.label :note, "Notatka" %>
				<%= f.text_area :note, class: "form-control", placeholder: "Notatka serwisowa" %>
			</div>
		
				<%= f.submit "Wyślij", class: "btn btn-default btn-block" %>
			</div>
		</div>
	</p>
<% end %>