<!-- Formularz dodawania i edycjii użytkownika w panelu administracyjnym -->
<%= form_for (@client),:url => {:action => "password_update", method: :patch}, class: "form-horizontal" do |f| %>

<!-- Komunikat błędów podczas walidacji formuarza -->
<% if @client.errors.any? %>
	<div class="alert alert-danger">
		<h3>Nieprawidłowe wypełnienie formularza:</h3><hr/>
		<ul>
			<% @client.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<p>
	<div class="row-fluid">
		<div class="col-md-6 col-md-offset-3">
			<p><h3>Zmiana hasła:</h3></p><br />

			<div class="form-group">
				<%= f.label :password, "Nowe hasło" %>
				<%= f.password_field :password, class: "form-control", placeholder: "Nowe hasło" %>
			</div>
<br />
				<%= f.submit "Zmień hasło", class: "btn btn-default btn-block" %>
		</div>
	</div>
</p>
<% end %>