<% provide(:title, 'Zmiana hasła') %>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-12">

			<ol class="breadcrumb">
			 	<li><%= link_to "Strona główna", tasks_path %></li>
			 	<li><%= link_to "Profil użytkownika", profile_path %></li>
			 	<li class="active">Edycja hasła użytkownika: <%= @client.username %></li>
			</ol>
		</div>
	</div>
	<div class="row-fluid">
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Menu</h3>
				</div>
				<div class="panel-body">
					<%= link_to authenticated_root_path, class: "btn btn-primary btn-block" do %>
						<span class="glyphicon glyphicon-home"></span> Strona Główna
					<% end %>
					<%= link_to profile_path, class: "btn btn-primary btn-block" do %>
						<span class="glyphicon glyphicon-arrow-left"></span> Wróć do profilu
					<% end %>
				</div>
			</div>
		</div>

			<div class="col-md-10">
			<div class="panel panel-default">
				<div class="panel-heading">
		    		<h3 class="panel-title text-center">Formularz edycji hasła klienta:</h3>
		  		</div>
			  <div class="panel-body">
				<div class="well well-lg text-center">
					Poniżej znajduje się formularz zmiany hasła użytkownika.
				</div>

				<%= render 'password_change_form' %>
				
			  </div>
			  <div class="panel-footer"></div>
			</div>

		</div>
	</div>
</div>