<% provide(:title, 'Lista klientów') %>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Menu</h3>
				</div>
				<div class="panel-body">
					<%= link_to authenticated_root_path, class: "btn btn-primary btn-block" do %>
						<span class="glyphicon glyphicon-home"></span> Strona Główna
					<% end %>
					<% if can? :create, User %>
						<%= link_to client_new_path, class: "btn btn-primary btn-block" do %>
							<span class="glyphicon glyphicon-plus"></span> Utwórz nowego klienta
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
		<div class="col-md-10">
			
			<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title text-center">Liska klinetów</h3>
					</div>
					<div class="panel-body">
						<div class="well well-lg text-center">
							Poniżej znajduje się lista wszystkich klientów zarejestrowanych w serwisie. Możesz <strong>utworzyć nowego</strong> klienta lub <strong>zarządzać</strong> już istniejącymi.
						</div>
						<% if User.where('role_id = ?', 4).count > 0 %>
						<table class="table table-bordered text-center">
							<tr>
								<th>#</th>
								<th>Login</th>
								<th>Imię i nazwisko / Nazwa</th>
								<th>E-mail</th>
								<th>Akcje</th>
							</tr>
							<% @clients.each do |c| %>
							<tr>
								<td><%= link_to c.id, show_client_path(c) %></td>
								<td><%= c.username %></td>
								<td><%= c.full_name %></td>
								<td><%= c.email %></td>
								<td>
									<% if can? :read, User %>
										<%= link_to show_client_path(c), class: "btn btn-sm btn-primary" do %>
											<i class="fa fa-folder-open"></i>
										<% end %>
									<% end %>
									<% if can? :update, User %>
										<%= link_to edit_client_path(c), class: "btn btn-sm btn-warning" do %>
												<span class="glyphicon glyphicon-pencil"></span>
										<% end %>
							  		<% end %>
							  		<% if can? :destroy, User %>
										<%= link_to del_client_path(c), method: :delete,data: { confirm: "Czy na pewno chcesz usunąć tego klienta?"}, class: "btn btn-sm btn-danger" do %>
											<span class="glyphicon glyphicon-trash"></span>
										<% end %>
		  							<% end %>
		  							<% if can? :update, User %>
									 <%= link_to password_gen_path(c), class: "btn btn-success btn-sm" do %>
											<i class="fa fa-refresh"></i>
									 <% end %>
								<% end %>
								</td>
							</tr>
							<% end # koniec bloku%>
						</table>
						<% else %>
							<div class="well well-lg text-center">Aktualnie nie ma żadnych klientów zarejestrowanych w serwisie.</div>
						<% end %>
					</div>
					<div class="panel-footer"></div>
				</div>
			</div>
		</div>
	</div>
</div>