<% provide(:title, 'Dodaj nowego klienta') %>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-12">

			<ol class="breadcrumb">
			 	<li><%= link_to "Strona główna", authenticated_root_path %></li>
			 	<li><%= link_to "Lista klientów", clients_list_path %></li>
			 	<li class="active">Utwórz nowego klienta</li>
			</ol>
		</div>
	</div>
	
		<div class="row-fluid">
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Menu</h3>
				</div>
				<div class="panel-body">
					<%= link_to authenticated_root_path, class: "btn btn-primary btn-block" do %>
						<span class="glyphicon glyphicon-home"></span> Strona Główna
					<% end %>
					<%= link_to clients_list_path, class: "btn btn-primary btn-md btn-block"  do %>
						<span class="glyphicon glyphicon-arrow-left"></span> Wróć do listy klientów
					<% end %></%>
				</div>
			</div>
		</div>
		<div class="col-md-10">
			<div class="panel panel-default">
				<div class="panel-heading">
		    		<h3 class="panel-title text-center">Formularz nowego klienta:</h3>
		  		</div>
			  <div class="panel-body">
				<div class="well well-lg text-center">
					Poniżej znajduje się formularz rejestracji nowego klienta. Prosimy o dokładne wypełnienie formularza.
				</div>

				<%= render 'client_new_form' %>
			  </div>
			  <div class="panel-footer"></div>
			</div>

		</div>
	</div>
</div>