<% provide(:title, "Profil użytkownika" ) %>
<div class="container-fluid">

	<div class="row-fluid">
			<div class="col-md-12">
				<ol class="breadcrumb">
				  <li><%= link_to "Strona Główna", authenticated_root_path %></li>
				  <li class="active">Profil użytkownika</li>
				</ol>
			</div>
	</div> <!-- row -->
	<div class="row-fluid">
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Menu</h3>
				</div>
				<div class="panel-body">
					<%= link_to authenticated_root_path, class: "btn btn-primary btn-block" do %>
						<span class="glyphicon glyphicon-home"></span> Strona Główna
					<% end %>
				  	<%= link_to profile_edit_path(@user), class: "btn btn-warning btn-block" do %>
						<span class="glyphicon glyphicon-pencil"></span> Edytuj profil
					<% end %>
					<%= link_to profile_password_path(@user), class: "btn btn-warning btn-block" do %>
						<span class="glyphicon glyphicon-pencil"></span> Zmień hasło
					<% end %>
				</div>
			</div>
		</div>
		<div class="col-md-10">
		<div class="panel panel-default">
			<div class="panel-heading">
		   		<h3 class="panel-title text-center">Profil użytkownika</h3>
		  	</div>
		  <div class="panel-body">
		  	<p>
		  		<strong>Login:</strong> <%= current_user.username %><br />
		  		<strong>E-mail:</strong> <%= current_user.email %><br />
				<strong>Imię i nazwisko:</strong> <%= current_user.full_name %><br />
				<strong>Ulica:</strong> <%= current_user.street %><br />
				<strong>Miasto:</strong> <%= current_user.city %><br />
				<strong>Kod Pocztowy:</strong> <%= current_user.zip_code %><br />
				<strong>Telefon:</strong> <%= current_user.telephone %><br />
				<strong>NIP:</strong> <%= current_user.nip %><br />
				<strong>Ilość logowań do serwisu:</strong> <%= current_user.sign_in_count %><br />
				<strong>Zarejestrowany od:</strong> <%= l current_user.created_at, format: :long %>
		  	</p>
		  	<% if can? :create, User %>
			  	<% if current_user.note != nil %>
				  	<p>
				  		<strong>Notatka:</strong><%= current_user.note %>
				  	</p>
				<% end %>
			<% end %>
			</div>
		  </div>
		</div>
	</div>
</div> <!-- /container -->