<% provide(:title, "Szczegóły klienta" ) %>
<div class="container-fluid">

	<div class="row-fluid">
			<div class="col-md-12">
				<ol class="breadcrumb">
				  <li><%= link_to "Strona główna", tasks_path %></li>
				  <li><%= link_to "Lista klientów", clients_list_path %></li>
				  <li class="active">Szczegóły klienta id: <%= @client.id %></li>
				</ol>
			</div>
	</div> <!-- row -->
	<div class="row-fluid">
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Menu</h3>
				</div>
				<div class="panel-body">
					<%= link_to authenticated_root_path, class: "btn btn-primary btn-block" do %>
						<span class="glyphicon glyphicon-home"></span> Strona Główna
					<% end %>
				<% if can? :update, User %>
					<%= link_to edit_client_path, class: "btn btn-md btn-warning btn-block" do %>
						<span class="glyphicon glyphicon-pencil"></span> Edytuj konto
					<% end %>
		  		<% end %>
		  		<% if can? :destroy, User %>
					<%= link_to @client, method: :delete, class: "btn btn-block btn-md btn-danger" do %>
						<span class="glyphicon glyphicon-trash"></span> Usuń klienta
					<% end %>
		  		<% end %>

		  			<%= link_to clients_list_path, class: "btn btn-block btn-primary btn-md" do %>
						<span class="glyphicon glyphicon-arrow-left"></span> Wróć do listy klientów
		  			<% end %>
				</div>
			</div>
		</div>
		<div class="col-md-10">
		<div class="panel panel-default">
			<div class="panel-heading">
		   		<h3 class="panel-title text-center">Szczegóły klienta nr: <%= @client.id %> :</h3>
		  	</div>
		  <div class="panel-body">

			<p>
					  		<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
			  <li class="active"><a href="#main" role="tab" data-toggle="tab">Dane główne</a></li>
			  <li><a href="#address" role="tab" data-toggle="tab">Dane adresowe</a></li>
			  <li><a href="#facture" role="tab" data-toggle="tab">Dane do faktur</a></li>
			  <li><a href="#stat" role="tab" data-toggle="tab">Statystyka</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
			  <div class="tab-pane active" id="main">
				<p class="text-center">
					<h3>Dane główne</h3>
				</p>
				<strong>Rola:</strong> <%= @client.role.long_name %><br />
				<strong>Imię i nazwisko / Nazwa:</strong> <%= @client.full_name %><br />
				<strong>Login:</strong> <%= @client.username %><br />
				<strong>E-mail:</strong> <%= @client.email %><br />
			  </div>
			  <div class="tab-pane" id="address">
				<p class="text-center">
						<h3>Dane adresowe</h3>
				</p>

				<strong>Ulica:</strong> <%= @client.street %><br />
				<strong>Miasto:</strong> <%= @client.city %><br />
				<strong>Kod Pocztowy:</strong> <%= @client.zip_code %><br />
				<strong>Telefon:</strong> <%= @client.telephone %><br />  	
			  </div>
			  <div class="tab-pane" id="facture">
				<p class="text-center">
					<h3>Dane do faktur</h3>
				</p>
					<strong>NIP:</strong> <%= @client.nip %><br />
			  </div>
			  <div class="tab-pane" id="stat"> 	
				<p class="text-center">
					<h3>Statystyka</h3>
				</p>

				<strong>Ilość logowań do serwisu:</strong> <%= @client.sign_in_count %><br />
				<strong>Zarejestrowany od:</strong> <%= l @client.created_at, format: :long %>
			  </div>
			</div></p>
			<p>

				<% if can? :create, User %> <!-- Jeśli dana osoba może stworzyć klienta to może widzieć notakę -->
		  		<% if @client.note != nil %>
		  			<% if @client.note != "" %>
						<div class="col-md-12">
							<hr />
							<div class="panel panel-warning">
								<div class="panel-heading">
						    		<h3 class="panel-title text-center">Notatka serwisowa:</h3>
						  		</div>
							  <div class="panel-body">
										<%= @client.note %>
							  </div>
							</div>
						</div>
					<% end %>
		  		<% end %>
		  		<% end %>
		  	</p>

			</div>
		  </div>
		</div>
	</div>
</div> <!-- /container -->