<h2>Zmiana hasła</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div><%= f.label :password, "Nowe hasło" %><br />
  <%= f.password_field :password, :autofocus => true %></div>

  <div><%= f.label :password_confirmation, "Potwierdź nowe hasło" %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Zmień hasło" %></div>
<% end %>

<%= render "devise/shared/links" %>
