<div class="sign-in">

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form-horizontal form-signin" }) do |f| %>
	 <%= devise_error_messages! %>

<h2 class="text-primary">Zapomniałeś hasła?</h2>
<div class="form-group">
	<div class="col-md-12">
	 	<%= f.text_field :username, :autofocus => true, class: "form-control", placeholder: "Nazwa użytkownika" %>
	 </div>
</div>
<div class="form-actions">
	<%= f.submit "Wyślij", class: "btn btn-primary btn-block" %>
</div>
<div class="form-links">
	<%#= render "devise/shared/links" %>
		
</div>
<% end %>
</div>
