<!-- Statyczna strona domowa panelu administracyjnego -->
<% provide(:title, "PA - Logi sytemowe") %>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					 <h3 class="panel-title text-center">Lista logów:</h3>
				</div>

				<div class="panel-body">
					<div class="table-responsive">
					<table class="table table-bordered text-center">
						<tr>
							<th>#</th>
							<th>ID użytkownika</th>
							<th>Nazwa użytkownika</th>
							<th>Adres IP</th>
							<th>Kontroler</th>
							<th>Akcja</th>
							<th>Opis</th>
							<th>Data wykonania</th>
						</tr>
						<% @logs.each do |log| %>
						<tr>
							<td><%= log.id %></td>
							<td><%= log.user_id %></td>
							<td><%= log.user_name %></td>
							<td><%= log.ip_address %></td>
							<td><%= log.controller %></td>
							<td><%= log.action %></td>
							<td><%= log.note %></td>
							<td><%= l log.created_at, format: :long%></td>
						</tr>
						<% end # koniec bloku%>
					</table>
					</div>
				</div>
				<div class="panel-footer">
					<div class="text-center">
						<%= will_paginate @logs %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>