<div class="sign-in">
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-horizontal form-signin"}) do |f| %>
	  <h2 class="text-primary">Zaloguj się</h2>

      <div class="form-group">
  		<%#= f.label :login, "Użytkownik:", class: "col-md-4 control-label" %>
      		<div class="col-md-12">
  				<%= f.text_field :login, :autofocus => true, class: "form-control", placeholder: "Nazwa użytkownika" %>
      		</div>
      </div>

      <div class="form-group">
		 <%#= f.label :password, "Hasło", class: "col-md-4 control-label" %>
		 <div class=" col-md-12">
		  	<%= f.password_field :password, class: "form-control", placeholder: "Hasło" %>
		 </div>
      </div>

     <% if devise_mapping.rememberable? -%>
	    <%= f.check_box :remember_me %> <%= f.label "Zapamiętaj mnie" %>
	 <% end %>

	<div class="form-actions">
		<%= f.submit "Zaloguj się", class: "btn btn-primary btn-block" %>
	</div>

<% end %>
</div>