<%= form_for ([:admin, @role]), class: "form-horizontal" do |f|%>
	<% if @role.errors.any? %>
		<div class="alert alert-danger">
			<h3>Nieprawidłowe wypełnienie formularza:</h3><hr/>
			<ul>
				<% @role.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<div class="row-fluid">
			<div class="col-md-6 col-md-offset-3">
			  <div class="form-group">
				<%= f.label :long_name, "Długa nazwa" %>
				<%= f.text_field :long_name, class: "form-control" %>
			  </div>
				<%= f.submit "Wyślij", class: "btn btn-default btn-block" %>
			</div>
		</div>
	</p>
<% end %>