<% provide(:title, "Edycja roli: #{@role.name}") %>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-12">

			<ol class="breadcrumb">
			 	<li><%= link_to "Lista Ról", admin_roles_path %></li>
			 	<li class="active">Edycja roli</li>
			</ol>
		</div>
	</div>
	<div class="row-fluid">
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Menu:</h3>
				</div>
				<div class="panel-body">
				<%= link_to admin_roles_path, class: "btn btn-primary btn-block btn-md"  do %>
					<span class="glyphicon glyphicon-arrow-left"></span> Wróć do listy ról
				<% end %>
					
				</div>
			</div>
		</div>
		<div class="col-md-10">
			<div class="panel panel-default">
			  <div class="panel-body">
				<p class="text-center">W tym miejscu dokonujemy poprawek w roli.</p>

				<%= render 'role_form' %>
			  </div>
			</div>

		</div>
	</div>
</div>