<% provide(:title, 'PA - Lista ról użytkowników') %>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title text-center">Lista ról użytkowników</h3>
			</div>
			<div class="panel-body">
				<p class="text-center">Poniżej znajduje się lista wszystkich użytkowników w serwisie.</p>
				<p>


					<!-- Tabela z listą zleceń -->
					<p>
					<div class="table-responsive">
					<table class="table table-bordered text-center">
						<tr>
							<th>#</th>
							<th>Nazwa</th>
							<th>Długa nazwa</th>
							<th>Edytuj</th>
						</tr>
						<% @roles.each do |role| %>
						<tr>
							<td><%= role.id %></td>
							<td><%= role.name %></td>
							<td><%= role.long_name %></td>
							<td>
<!-- 								<%# if can? :read, Admin %>
									<%#= link_to admin_role_path(role), class: "btn btn-primary btn-sm" do %>
											<span class="glyphicon glyphicon-folder-open"></span>
									<%# end %>
								<%# end %> -->
					
								<% if can? :update, Admin %>
									 <%= link_to edit_admin_role_path(role), class: "btn btn-warning btn-sm" do %>
											<span class="glyphicon glyphicon-pencil"></span>
									 <% end %>
								<% end %>
					
<!-- 								<% if can? :destroy, Admin %>
									<%= link_to admin_role_path(role), method: :delete, data: { confirm: "Czy na pewno chcesz usunąć tego użytkownika?"}, class: "btn btn-danger btn-sm" do %>
										<span class="glyphicon glyphicon-trash"></span>
									<% end %>
								<% end %> -->
							</td>
						</tr>
						<% end # koniec bloku%>
					</table>
					</div>
					</p>
				</p>
			</div>
		</div>
		</div> <!-- /col-md-12 -->
	</div> <!-- /row -->
</div> <!-- /container -->