<!-- Statyczna strona domowa panelu administracyjnego -->
<% provide(:title, "Panel Administracyjny") %>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
				    <h3 class="panel-title text-center">Strona głowna panelu administracyjnego:</h3>
				</div>
				<div class="panel-body">
					<p class="text-center">Jeśli widzisz ten komunikat znajdujesz się w panelu administracyjnym.</p>

<!-- lista logów -->
<h3>Lista ostatnich 5 logów systemowych:</h3>
<div class="table-responsive">
					<table class="table table-bordered text-center">
						<tr>
							<th>#</th>
							<th>ID użytkownika</th>
							<th>Nazwa użytkownika</th>
							<th>Adres IP</th>
							<th>Kontroler</th>
							<th>Akcja</th>
							<th>Opis</th>
							<th>Data wykonania</th>
						</tr>
						<% @logs.each do |log| %>
						<tr>
							<td><%= log.id %></td>
							<td><%= log.user_id %></td>
							<td><%= log.user_name %></td>
							<td><%= log.ip_address %></td>
							<td><%= log.controller %></td>
							<td><%= log.action %></td>
							<td><%= log.note %></td>
							<td><%= l log.created_at, format: :long%></td>
						</tr>
						<% end # koniec bloku%>
					</table>
					</div>


<!-- Lista ostatnich zgłoszeń -->
<h3>Ostatnie 5 zgłoszeń serwisowych:</h3>
						<div class="table-responsive">
							<table class="table table-bordered text-center">
								<tr>
									<th>#</th>
									<th>Status</th>
									<th>Typ</th>
									<th>Utworzono</th>
									<th>Termin</th>
									<th>Zmodyfikowano</th>
								</tr>
								<% @tasks.each do |task| %>
								<tr <% if can? :update, Task %><%= timesup_class(task.end_task) %><% end %>>
									<td><%= link_to task.id, task %></td>
									<td><%= task.status.name %></td>
									<td><%= task.type.name %></td>
									<td><%= l task.created_at, format: :long %></td>
									<td><%= l task.end_task, format: :long %></td>
									<td><%= l task.updated_at, format: :long %></td>
								</tr>
								<% end # koniec bloku%>
							</table>
						</div> <!-- end table-responsive -->

<!-- Ostatnie pięć kart sprzętów -->
<h3>Ostatnie 5 kart sprzętów:</h3>
					<div class="table-responsive">
					<table class="table table-bordered text-center">

						<tr>
							<th>ID</th>
							<th>Typ sprzętu</th>
							<th>Producent</th>
							<th>Model sprzętu</th>
							<th>Numer seryjny</th>
							<th>Data zakupu</th>
							<th>Utworzono</th>
						</tr>
					  <% @items.each do |item| %>
						<tr>
					                <td><%= link_to item.id, show_item_path(item) %></td>
					                <td><%= item.item_type %></td>
					                <td><%= item.item_producer %></td>
					                <td><%= item.item_model %></td>
					                <td><%= item.serial_number %></td>
					                <td><%= item.purchase_date %></td>
					                <td><%= l item.created_at, format: :long %></td>					
						</tr>
					  <% end %>
					</table>
				</div> <!-- end table-responsive -->

<h3>Ostatnich 5 użytkowników:</h3>
				<div class="table-responsive">
					<table class="table table-bordered text-center table-user-admin">
						<tr>
							<th>#</th>
							<th>Nazwa</th>
							<th>E-mail</th>
							<th>Rola</th>
							<th>Zarejestrowny od</th>
						</tr>
						<% @users.each do |user| %>
						<tr>
							<td><%= link_to user.id, admin_user_path(user) %></td>
							<td><%= user.username %></td>
							<td><%= user.email %></td>
							<td><%= user.role.long_name %></td>
							<td><%= l user.created_at, format: :long %></td>
						</tr>
						<% end # koniec bloku%>
					</table>
					</div>
					



				</div> <!-- end panel -->
				</div>
			</div>
		</div>
	</div>
</div>