<%= form_for (@item),:url => {:action => "item_create", method: :post}, class: "form-horizontal" do |f|%>

  <% if @item.errors.any? %>
    <div class="alert alert-danger">
      <h2>Nieprawidłowe wypełnienie formularza:</h2>
      <h3>Ilość błędów w formularzu: <%=@item.errors.count %></h3>
     	<hr />
      <ul>
    <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
  </div>
  <% end %>

<div class="row-fluid">
      <div class="col-md-6 col-md-offset-3">

<div class="form-group">
  <%= f.label "Typ sprzętu:" %><br />
  <%= f.text_field :item_type, class: "form-control", placeholder: "Typ sprzętu" %>
</div>

<div class="form-group">
  <%= f.label "Producent:" %><br />
  <%= f.text_field :item_producer, class: "form-control", placeholder: "Producent sprzętu" %>
</div>

<div class="form-group">
  <%= f.label "Model:" %><br />
  <%= f.text_field :item_model, class: "form-control", placeholder: "Model sprzętu" %>
</div>

<div class="form-group">
  <%= f.label "Numer seryjny:" %><br />
  <%= f.text_field :serial_number, class: "form-control", placeholder: "Numer seryjny" %>
</div>

<div class="form-group">
  <%= f.label "Opis przedmiotu:" %><br />
  <%= f.text_area :description, class: "form-control", placeholder: "Opis sprzętu" %>
</div>

<div class="form-group">
  <%= f.label "Data zakupu:" %><br />
  <%= f.date_select :purchase_date,  {:class => 'form-control'} %>
</div>

<div class="field">
    <%= f.label "Czy sprzęt był kupiony jako używany?" %> <br />
    <%= f.check_box :used, {:class => "form-control"}, true, false %><br />
</div>

<div class="form-group">
	<%= f.label "Notatka serwisowa:" %><br />
	<%= f.text_area :note, class: "form-control", placeholder: "Notatka serwisowa" %>
</div>
<div class="form-group">
	<%= f.submit "Wyślij", class: "btn btn-default btn-block" %>
</div>
</div>
</div>
<% end %>
