<% provide(:title, 'Edycja danych karty sprzętu') %>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-12">

			<ol class="breadcrumb">
			 	<li><%= link_to "Strona główna", authenticated_root_path%></li>
			 	<li><%= link_to "Zgłoszenie nr #{@task.id}", task_path(@task) %></li>
			 	<li><%= link_to "Lista kart sprzętów", task_items_path(@task) %></li>
			 	<li class="active">Edytuj kartę sprzętu o id: <%= @item.id %> - <%= @item.item_producer %> - <%= @item.item_model %></li>
			</ol>
		</div>
	</div>
	
		<div class="row-fluid">
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Menu</h3>
				</div>
				<div class="panel-body">
					<%= link_to authenticated_root_path, class: "btn btn-primary btn-block" do %>
						<span class="glyphicon glyphicon-home"></span> Strona Główna
					<% end %>
					<%= link_to task_items_path(@task), class: "btn btn-primary btn-md btn-block"  do %>
						<span class="glyphicon glyphicon-arrow-left"></span> Wróć do listy k. sprzętów
					<% end %></%>
				</div>
			</div>
		</div>
		<div class="col-md-10">
			<div class="panel panel-default">
				<div class="panel-heading">
		    		<h3 class="panel-title text-center">Formularz edycji karty sprzętu:</h3>
		  		</div>
			  <div class="panel-body">
				<div class="well well-lg text-center">
					Poniżej znajduje się formularz edycji karty sprzętu o numerze: <%= @item.id %>. Wprowadź nowe dane i wyślij formularz w celu zaktualizowania danych.
				</div>

				<%= render 'item_form' %>
			  </div>
			  <div class="panel-footer"></div>
			</div>

		</div>
	</div>
</div>