<% provide(:title, "Lista sprzętów" ) %>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-12">
			<ol class="breadcrumb">
			  <li><%= link_to "Lista zgłoszeń serwisowych", tasks_path %></li>
			  <li><%= link_to "Szczegóły zgłoszenia nr #{@task.id}", task_path(@task) %></li>
			  <li class="active">Lista kart sprzętu</li>
			</ol>
		</div>
	</div>
	<div class="row-fluid">
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Menu</h3>
				</div>
				<div class="panel-body">
					<%= link_to authenticated_root_path, class: "btn btn-primary btn-block" do %>
						<span class="glyphicon glyphicon-home"></span> Strona Główna
					<% end %>
					<% if can? :create, Item %>
						<%= link_to new_task_item_path, class: "btn btn-primary btn-block" do %>
							<span class="glyphicon glyphicon-plus"></span> Utwórz nową k. sprzętu
						<% end %>
					<% end %>
					<%= link_to task_path(@task), class: "btn btn-success btn-block" do %>
						<span class="glyphicon glyphicon-arrow-left"></span> Wróć do zgłoszenia
					<% end %>
				</div>
			</div>
		</div>
		<div class="col-md-10">
			<div class="panel panel-default">
				<div class="panel-heading text-center"><h2 class="panel-title">Lista kart sprzętów</h2></div>
				<div class="panel-body">
						<div class="well well-lg text-center">
							Poniżej znajduje się lista wszystkich kart sprzętów dostępnych w serwisie. Możesz <strong>utworzyć nową</strong> kartę sprzętu lub <strong>dodać</strong> już istniejące. Po <strong>dodaniu</strong> kart sprzętu można zakończyć proces kreowania zgłoszenia klikając w bocznym menu na przycisk <strong><i>Wróć do zgłoszenia</i></strong>.
						</div>
					<% if @items.count > 0 %>
					<div class="table-responsive">
					<table class="table table-bordered text-center">

						<tr>
							<th>ID</th>
							<th>Typ sprzętu</th>
							<th>Producent</th>
							<th>Model sprzętu</th>
							<th>Numer seryjny</th>
							<th>Data zakupu</th>
							<th>Utworzono</th>
							<th>Akcje</th>
						</tr>
					  <% @items.each do |item| %>
						<tr>
					                <td><%= link_to item.id, [@task, item] %></td>
					                <td><%= item.item_type %></td>
					                <td><%= item.item_producer %></td>
					                <td><%= item.item_model %></td>
					                <td><%= item.serial_number %></td>
					                <td><%= item.purchase_date %></td>
					                <td><%= l item.created_at, format: :long %></td>
					                <td>
					                	<% if can? :read, Item %>
					                		<%= link_to [@task, item], class: "btn btn-primary btn-sm" do %>
												<span class="glyphicon glyphicon-folder-open"></span>
					                		<% end %>
					                	<% end %>
					                	<% if can? :update, Item %>
						                	<%= link_to edit_task_item_path(@task, item), class: "btn btn-warning btn-sm" do %>
						                		<span class="glyphicon glyphicon-pencil"></span>
						                	<% end %>
					                	<% end %>
					                	<% if can? :destroy, Item %>
						                	<%= link_to [@task, item], method: :delete, data: { confirm: "Czy na pewno chcesz usunąć tą kartę sprzętu?"}, class: "btn btn-danger btn-sm" do %>
						                		<span class="glyphicon glyphicon-trash"></span>
											<% end %>
										<% end %>
									<% check_if_item_ta(@task, item) %> <!-- helper do sprawdzenia czy sprzęt jest już dodany do zgłoszenia -->
											<% if @can_add == true %>
												<% if can? :update, Item %>
													<%= link_to task_add_item_path(@task, item), method: :get, class: "btn btn-success btn-sm" do %>
															<span class="glyphicon glyphicon-plus"></span>
													<% end %>
												<% end %>
											<% else %>
												<% if can? :update, Item %>
													<%= link_to task_remove_item_path(@task, item), method: :get, class: "btn btn-danger btn-sm" do %>
															<span class="glyphicon glyphicon-minus"></span>
													<% end %>
												<% end %>
											<% end %>
					                </td>						
						</tr>
					  <% end %>
					</table>
				</div> <!-- end table-responsive -->
				<% else %>
				<div class="well well-lg text-center">Aktualnie nie ma żadnych utworzonych kart sprzętów</div>
					<% end # koniec if %>
				</div> <!-- end panel - body -->
				<div class="panel-footer">
					<div class="text-center">
						<%= will_paginate @tasks %>
					</div>
				</div>
			</div> <!-- end panel -->
		</div>
	</div>
</div>