<% provide(:title, "Lista sprzętów" ) %>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Menu</h3>
				</div>
				<div class="panel-body">
					<%= link_to authenticated_root_path, class: "btn btn-primary btn-block" do %>
						<span class="glyphicon glyphicon-home"></span> Strona Główna
					<% end %>
					<% if can? :create, Item %>
						<%= link_to item_new_path, class: "btn btn-primary btn-block" do %>
							<span class="glyphicon glyphicon-plus"></span> Utwórz nową k. sprzętu
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
		<div class="col-md-10">
			<div class="panel panel-default">
				<div class="panel-heading text-center"><h2 class="panel-title">Lista kart sprzętów</h2></div>
				<div class="panel-body">
						<div class="well well-lg text-center">
							Poniżej znajduje się lista wszystkich kart sprzętów dostępnych w serwisie. Możesz <strong>utworzyć nową</strong> kartę sprzętu lub <strong>zarządzać</strong> już istniejącymi kartami.
						</div>
					<% if @items.count > 0 %>
					<div class="table-responsive">
					<table class="table table-bordered text-center">

						<tr>
							<th>ID</th>
							<th>Typ sprzętu</th>
							<th>Producent</th>
							<th>Model sprzętu</th>
							<th>Numer seryjny</th>
							<th>Data zakupu</th>
							<th>Utworzono</th>
							<th>Akcje</th>
						</tr>
					  <% @items.each do |item| %>
						<tr>
					                <td><%= link_to item.id, show_item_path(item) %></td>
					                <td><%= item.item_type %></td>
					                <td><%= item.item_producer %></td>
					                <td><%= item.item_model %></td>
					                <td><%= item.serial_number %></td>
					                <td><%= item.purchase_date %></td>
					                <td><%= l item.created_at, format: :long %></td>
					                <td>
					                	<% if can? :read, Item %>
					                		<%= link_to show_item_path(item), class: "btn btn-primary btn-sm" do %>
												<span class="glyphicon glyphicon-folder-open"></span>
					                		<% end %>
					                	<% end %>
					                	<% if can? :update, Item %>
						                	<%= link_to edit_item_path(item), class: "btn btn-warning btn-sm" do %>
						                		<span class="glyphicon glyphicon-pencil"></span>
						                	<% end %>
					                	<% end %>
					                	<% if can? :destroy, Item %>

						                	<%= link_to del_item_path(item), method: :delete, action: "item_delstroy", data: { confirm: "Czy na pewno chcesz usunąć tą kartę sprzętu?"}, class: "btn btn-danger btn-sm" do %>
						                		<span class="glyphicon glyphicon-trash"></span>
											<% end %>
										<% end %>
					                </td>						
						</tr>
					  <% end %>
					</table>
				</div> <!-- end table-responsive -->
				<% else %>
				<div class="well well-lg text-center">Aktualnie nie ma żadnych utworzonych kart sprzętów</div>
					<% end # koniec if %>
				</div> <!-- end panel - body -->
				<div class="panel-footer">
					<div class="text-center">
						<%= will_paginate @tasks %>
					</div>
				</div>
			</div> <!-- end panel -->
		</div>
	</div>
</div>