<% provide(:title, "Szczegóły sprzętu nr: #{@item.id}" ) %>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-12">

			<ol class="breadcrumb">
			 	<li><%= link_to "Strona główna", authenticated_root_path%></li>
			 	<li><%= link_to "Lista kart sprzętów", items_list_path %></li>
			  <li class="active">Szczegóły sprzętu: [<%= @item.item_producer %> <%= @item.item_model %>] - numer sprzętu: <%= @item.id %></li>
			</ol>
		</div>
		<div class="row-fluid">

			<div class="col-md-2">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title text-center">Menu:</h3>
					</div>
					<div class="panel-body">
						<%= link_to authenticated_root_path, class: "btn btn-primary btn-block" do %>
							<span class="glyphicon glyphicon-home"></span> Strona Główna
						<% end %>
						<% if can? :update, Item %>
							<%= link_to edit_item_path(@item), class: "btn btn-block btn-warning" do %>
								<span class="glyphicon glyphicon-pencil"></span> Edytuj sprzęt
							<% end %>
						<% end %>

						<% if can? :destroy, Item %>
							<%= link_to del_item_path(@item), method: :delete, data: {confirm: "Czy na pewno chcesz usunąć ten sprzęt ?"}, class: "btn btn-danger btn-block" do %>
								<span class="glyphicon glyphicon-trash"></span> Usuń sprzęt
							<% end %>
						<% end %>
						<% if can? :create, Item %>
							<%= link_to item_new_path, class: "btn btn-primary btn-block" do %>
								<span class="glyphicon glyphicon-plus"></span> Stwórz nowy sprzęt
							<% end %>
						<% end %>
							<%= link_to items_list_path(@item), class: "btn btn-primary btn-block" do %>
								<span class="glyphicon glyphicon-arrow-left"></span> Wróć do listy sprzętów
							<% end %>

					</div><!-- end panel-body -->
				</div><!-- end panel -->
			</div>
			<div class="col-md-10">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title text-center">Szczegóły sprzętu:</h3>
					</div>
					<div class="panel-body">

						<table class="table table-bordered text-center">
							<tr>
								<th><strong>Typ spzętu:</strong></th>
								<td><%= @item.item_type %></td>
							</tr>
							<tr>
								<th><strong>Producent:</strong></th>
								<td><%= @item.item_producer %></td>
							</tr>
							<tr>
								<th><strong>Model:</strong></th>
								<td><%= @item.item_model %></td>
							</tr>
							<tr>
								<th><strong>Numer seryjny:</strong></th>
								<td><%= @item.serial_number %></td>
							</tr>
							<tr>
								<th><strong>Opis sprzętu:</strong></th>
								<td><%= @item.description %></td>
							</tr>
							<tr>
								<th><strong>Data zakupu:</strong></th>
								<td><%= l @item.purchase_date, format: :long %></td>
							</tr>
							<% if @item.used != true %>
							<tr>
								<th><strong>Koniec gwaracji:</strong></th>
								<td><%= l @item.purchase_date + 365.days, format: :long %></td>
							</tr>
							<% end %>
							<tr>
								<th><strong>Notatka serwisowa:</strong></th>
								<td>
									<% if !@item.note.empty? %>
										<%= @item.note %>
									<% else %>
										Brak notatki serwisowej.
									<% end %>
								</td>
							</tr>
							<tr>
								<th><strong>Utworzenie karty sprzętu:</strong></th>
								<td><%= l @item.created_at, format: :long %></td>
							</tr>
							<tr>
								<th><strong>Modyfikacja karty sprzętu:</strong></th>
								<td><%= l @item.updated_at, format: :long %></td>
							</tr>
						</table>
					</div><!-- end panel-body -->
				</div><!-- end panel -->
			</div> <!-- end col-md-9 -->
		</div><!-- end col-md-12 -->
	</div><!-- end row -->
</div><!-- end container -->