// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// body.admin {
// 	background-color: #141524;
// }
// //#263C70
// .panel-body.admin {
// 	background-color: #4b5463;
// 	color: #000;
// }

// .table-user-admin th {
// 	background-color: #001a57;
// }

// .panel-default.admin > .panel-heading {
// 	background-color: #001a57;
// 	color: #ccc;
// }
// .panel-footer.admin {
// 	background-color: #001a57;
// 	color: white;
// }

