// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$color: #abc;

.table-item th {
	text-align: center;
	background-color: $color;
}