//login scss

body {
  // background-color: #5A99BF;
  background-color: #35627D;
}

$color: #cce;

.form-signin{
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
  background-color: $color;
}

.form-links{
	padding-top: 10px;
}

.sign-in {
  padding-top: 80px;
  padding-bottom: 40px;

}