// navbar

$bg-nav-color: #FFFEFE;

.navbar-default {
	background-color: $bg-nav-color;
	// border-color: $bg-nav-color;

}

.navbar-text {
	color: #fff;
}

.panel {
	background-color: #FFFEFE;
}

 ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}