// Place all the styles related to the task controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$color: rgba(28, 79, 131, 1);

th {
	text-align: center;
	background-color: $color;
	color: #ccc;
}

td {
	background-color: rgba(202, 210, 255, 1);
}

.panel-body{
	// background-color: rgba(174, 209, 255, 1);
	background-color: #A1B3CB;
}