<p>Witaj <%= @username %>!</p>

<p>Możesz teraz potwierdzić swoje konto klikając w poniższy link:</p>

<p><%= link_to 'Potwierdź twoje konto', confirmation_url(@resource, :confirmation_token => @token) %></p>
