<p>Witaj <%= @resource.username %>!</p>

<p>Z twojego konta przyszła prośba o zmianę hasła. Możesz dokonać zmiany hasła klikając w poniższy link:</p>

<p><%= link_to 'Zmień moje hasło', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Jeśli nie wysłałeś żądania zmiany hasła, proszę o zignorowanie tego maila.</p>
<p>Twoje hasło nie zostanie zmienione dopuki nie klikniesz w link do zmiany hasła oraz nie wprowadzisz nowego.</p>
