<p>Witaj <%= @resource.username %>!</p>

<p>Twoje konto zostało zablokowoane z powodu przekroczenia limitu niepowodzeń podczas logowania.</p>

<p>Proszę o kliknięcie poniższego linku w celu odblokowania konta:</p>

<p><%= link_to 'Odblokuj moje konto', unlock_url(@resource, :unlock_token => @token) %></p>
