<!-- Formularz dodawania i edycjii użytkownika w panelu administracyjnym -->
<%= form_for ([:admin, @user]), class: "form-horizontal" do |f| %>

<!-- Komunikat błędów podczas walidacji formuarza -->
<% if @user.errors.any? %>
	<div class="alert alert-danger">
		<h3>Nieprawidłowe wypełnienie formularza:</h3><hr/>
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<p>
	<div class="row-fluid">
		<div class="col-md-6 col-md-offset-3">
			<p><h3>Dane główne:</h3></p><br />
			<div class="form-group">
				<%= f.label :full_name, "Imię i nazwisko / Nazwa" %>
				<%= f.text_field :full_name, class: "form-control", placeholder: "Imię i nazwisko" %>
			</div>
			<div class="form-group">
				<%= f.label :email, "Adres e-mail" %>
				<%= f.email_field :email, class: "form-control", placeholder: "Adres e-mail" %>
			</div>

			<% if can? :destroy, User %>
				<div class="form-group">
					<%= f.label :roles, "Rola użytkownika" %>
					<%= collection_select(:user, :role_id, Role.all, :id, :long_name, {},{class: "form-control"}) %>
				</div>
			<% end %>
			
			<p><h3>Dane adresowe:</h3></p><br />
			<div class="form-group">
				<%= f.label :street, "Ulica" %>
				<%= f.text_field :street, class: "form-control", placeholder: "Ulica" %>
			</div>
			<div class="form-group">
				<%= f.label :city, "Miasto" %>
				<%= f.text_field :city, class: "form-control", placeholder: "Miasto" %>
			</div>
			<div class="form-group">
				<%= f.label :zip_code, "Kod pocztowy" %>
				<%= f.text_field :zip_code, class: "form-control", placeholder: "Kod Pocztowy" %>
			</div>
			<div class="form-group">
				<%= f.label :telephone, "Telefon" %>
				<%= f.text_field :telephone, class: "form-control", placeholder: "Numer telefonu" %>
			</div>

			<p><h3>Dane do faktur:</h3></p><br />
			<div class="form-group">
				<%= f.label :nip, "NIP" %>
				<%= f.text_field :nip, class: "form-control", placeholder: "Numer NIP" %>
			</div>

			<% if can? :create, User %>
			<p><h3>Notatka:</h3></p><br />
			<div class="form-group">
				<%#= f.label :note, "Notatka" %>
				<%= f.text_area :note, class: "form-control"%>
			</div>
			<% end %>
		
				<%= f.submit "Wyślij", class: "btn btn-default btn-block" %>
		</div>
	</div>
</p>
<% end %>