<% provide(:title, 'PA - Lista użytkowników') %>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Menu:</h3>
				</div>
				<div class="panel-body">
					<% if can? :create, Admin %>
						<%= link_to new_admin_user_path, class: "btn btn-block btn-primary" do %>
								<span class="glyphicon glyphicon-plus"></span> Utwórz użytkownika
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
		<div class="col-md-10">
		<div class="panel panel-default admin">
			<div class="panel-heading">
				<h3 class="panel-title text-center">Lista użytkowników:</h3>
			</div>
			<div class="panel-body admin">
				<p class="text-center">Poniżej znajduje się lista wszystkich użytkowników w serwisie.</p>
				<p>
					<div class="task">

					<!-- Tabela z listą zleceń -->
					<p>
					<div class="table-responsive">
					<table class="table table-bordered text-center table-user-admin">
						<tr>
							<th>#</th>
							<th>Nazwa</th>
							<th>E-mail</th>
							<th>Rola</th>
							<th>Zarejestrowny od</th>
							<th>Akcje</th>
						</tr>
						<% @users.each do |user| %>
						<tr>
							<td><%= link_to user.id, admin_user_path(user) %></td>
							<td><%= user.username %></td>
							<td><%= user.email %></td>
							<td><%= user.role.long_name %></td>
							<td><%= l user.created_at, format: :long %></td>
							<td>
								<% if can? :read, Admin %>
									<%= link_to admin_user_path(user), class: "btn btn-primary btn-sm" do %>
											<span class="glyphicon glyphicon-folder-open"></span>
									<% end %>
								<% end %>
					
								<% if can? :update, Admin %>
									 <%= link_to edit_admin_user_path(user), class: "btn btn-warning btn-sm" do %>
											<span class="glyphicon glyphicon-pencil"></span>
									 <% end %>
								<% end %>
					
								<% if can? :destroy, Admin %>
									<% if current_user.role_id != user.id #Blokada przed usunięciem samego administratora %>
										<% if user.id != 1 %>
											<%= link_to admin_user_path(user), method: :delete, data: { confirm: "Czy na pewno chcesz usunąć tego użytkownika?"}, class: "btn btn-danger btn-sm" do %>
												<span class="glyphicon glyphicon-trash"></span>
											<% end %>
										<% end %>
									<% end %>
								<% end %>
								<% if can? :update, Admin %>
									 <%= link_to admin_new_password_gen_path(user), class: "btn btn-success btn-sm" do %>
											<i class="fa fa-refresh"></i>
									 <% end %>
								<% end %>
							</td>
						</tr>
						<% end # koniec bloku%>
					</table>
					</div>
					</p>
					</div>
				</p>
			</div> <!-- end panel-body -->
			<div class="panel-footer admin">
				<div class="text-center">
					<%= will_paginate @users %>
				</div>
			</div>
		</div> <!-- end panel -->
		</div> <!-- /col-md-12 -->
	</div> <!-- /row -->
</div> <!-- /container -->