<% provide(:title, 'Dodaj nowego użytkownika') %>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-12">

			<ol class="breadcrumb">
			 	<li><%= link_to "Lista użytkowników", admin_users_path %></li>
			 	<li class="active">Utwórz nowego użytkownika</li>
			</ol>
		</div>
	</div>
	<div class="row-fluid">
				<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Menu:</h3>
				</div>
				<div class="panel-body">
					<%= link_to admin_users_path, class: "btn btn-primary btn-sm btn-block" do %>
						<span class="glyphicon glyphicon-arrow-left"></span> Wróć do listy użytkowników
					<% end %>
				</div>
			</div>
		</div>
		<div class="col-md-10">

			<div class="panel panel-default">
				<div class="panel-heading">
		    		<h3 class="panel-title text-center">Formularz nowego użytkownika:</h3>
		  		</div>
			  <div class="panel-body">
				<p class="text-center">Wypełnij formularz z danymi nowego użytkownika serwisu.</p>

				<%= render 'admin_new_user_form' %>
				
			  </div>
			  <div class="panel-footer"></div>
			</div>

		</div>
	</div>
</div>