<% provide(:title, "Szczegóły użytkownika" ) %>
<div class="container-fluid">

	<div class="row-fluid">
			<div class="col-md-12">
				<ol class="breadcrumb">
				  <li><%= link_to "Lista użytkowników", admin_users_path %></li>
				  <li class="active">Szczegóły użytkownika o id: <%= @user.id %></li>
				</ol>
			</div>
	</div> <!-- row -->
	<div class="row-fluid">
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Menu:</h3>
				</div>
				<div class="panel-body">
					<%= link_to edit_admin_user_path(@user), class: "btn btn-warning btn-sm btn-block" do %>
						<span class="glyphicon glyphicon-pencil"></span> Edytuj
					<% end %>
					<% if can? :destroy, Admin %>
						<% if current_user.role_id != @user.id #Blokada przed usunięciem samego administratora %>
							<% if @user.id != 1 %>
								<%= link_to admin_user_path(@user), method: :delete, data: { confirm: "Czy na pewno chcesz usunąć tego użytkownika?"}, class: "btn btn-danger btn-sm btn-block" do %>
									<span class="glyphicon glyphicon-trash"></span> Usuń użytkownika
								<% end %>
							<% end %>
						<% end %>
					<% end %>
					<% if can? :update, Admin %>
						 <%= link_to admin_new_password_gen_path(@user), class: "btn btn-success btn-block btn-sm" do %>
								<i class="fa fa-refresh"></i> Zrestartuj hasło
						 <% end %>
					<% end %>
					<%= link_to admin_users_path, class: "btn btn-primary btn-sm btn-block" do %>
						<span class="glyphicon glyphicon-arrow-left"></span> Wróć do listy użytkowników
					<% end %>
				</div>
			</div>
		</div>
		<div class="col-md-10">
		<div class="panel panel-default">
			<div class="panel-heading">
		   		<h3 class="panel-title text-center">Szczegóły użytkownika nr: <%= @user.id %> :</h3>
		  	</div>
		  <div class="panel-body">
		  	<p>
		  		<strong>Rola:</strong> <%= @user.role.long_name %><br />
		  		<strong>Login:</strong> <%= @user.username %><br />
		  		<strong>E-mail:</strong> <%= @user.email %><br />
				<strong>Pełna nazwa:</strong> <%= @user.full_name %><br />
				<strong>Ulica:</strong> <%= @user.street %><br />
				<strong>Miasto:</strong> <%= @user.city %><br />
				<strong>Kod Pocztowy:</strong> <%= @user.zip_code %><br />
				<strong>Telefon:</strong> <%= @user.telephone %><br />
				<strong>NIP:</strong> <%= @user.nip %><br />
				<strong>Ilość logowań do serwisu:</strong> <%= @user.sign_in_count %><br />
				<% if @user.last_sign_in_at != nil %>
					<strong>Ostatnio zalogowany:</strong> <%= l @user.last_sign_in_at, format: :long %><br />
				<% end %>
				<% if @user.last_sign_in_ip != nil %>
					<strong>Ostatnio logowany z IP:</strong> <%= @user.last_sign_in_ip %><br />
				<% end %>
				<strong>Zarejestrowany od:</strong> <%= l @user.created_at, format: :long %>
		  	</p>
		  	<p>
		  		<% if @user.note != nil %>
		  			<% if @user.note != "" %>
		  				<strong>Notatka:</strong><%= @user.note %><br />
		  			<% end %>
		  		<% end %>
		  	</p>
		  	

<!-- create_table "users", force: true do |t|
    t.string   "username",               default: "", null: false
    t.string   "email",                  default: "", null: false
    t.string   "encrypted_password",     default: "", null: false
    t.string   "name"
    t.string   "full_name"
    t.string   "street"
    t.string   "city"
    t.string   "zip_code"
    t.integer  "nip"
    t.integer  "telephone"
    t.string   "communicator_type"
    t.string   "communicator"
    t.text     "note"
    t.string   "reset_password_token"
    t.datetime "reset_password_sent_at"
    t.datetime "remember_created_at"
    t.integer  "sign_in_count",          default: 0,  null: false
    t.datetime "current_sign_in_at"
    t.datetime "last_sign_in_at"
    t.string   "current_sign_in_ip"
    t.string   "last_sign_in_ip"
    t.datetime "created_at"
    t.datetime "updated_at" -->
			</div>
		  </div>
		</div>
	</div>
</div> <!-- /container -->