<% flash.each do |key, value| %>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-md-12">
				<!-- flash masseges -->
				<div>
				  	<% if value.is_a?(String) %>
				    <div class="<%= flash_class(key) %> fade in alert-dismissable">
				    	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				    	<%= value %>
				    </div>
				    <% end %>
				</div>		
			</div>
		</div>
	</div>
<% end %>