<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-12">
			<nav class="navbar navbar-default" role="navigation">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<%= link_to admin_dashboard_path, class: "navbar-brand" do %>
							<i class="fa fa-rocket fa-fw"></i> Kokpit Administrcyjny

						<% end %>
					</div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-users fa-fw"></i> Użytkownicy <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><%= link_to "Lista użytkowników", admin_users_path, class: "active" %></li>
									<li class="divider"></li>
									<li><%= link_to "Dodaj użytkownika", new_admin_user_path %></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-tag fa-fw"></i> Role <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><%= link_to "Lista ról", admin_roles_path, class: "active" %></li>
									<!--<li class="divider"></li>
									<li><%#= link_to "Dodaj nową rolę", new_admin_role_path %></li> -->
								</ul>
							</li>
							
							<li>
								<%= link_to admin_logs_path do %>
									<i class="fa fa-eye fa-fw"></i> Logi Systemowe
								<% end %>
							</li>
						</ul>

						<ul class="nav navbar-nav navbar-right">
							<li>
								<%= link_to authenticated_root_path, class: "navbar-link" do %>
									<span class="glyphicon glyphicon-circle-arrow-left"></span> Wróć do strony
								<% end %>
							</li>
							<li>
								<%= link_to( destroy_user_session_path, :method => :delete, class: "navbar-link") do %>
										<span class="glyphicon glyphicon-off"></span> Wyloguj
								<% end %>
							</li>
								</ul>
							</li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav> 
		</div>
	</div>
</div>