<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-12">
			<nav class="navbar navbar-default" role="navigation">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<%= link_to ("System <i class=\"fa fa-life-ring\"></i>bsługi Serwisów").html_safe, authenticated_root_path, class: "navbar-brand" %>
					</div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-tasks"></i> Zlecenia <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><%= link_to "Lista zgłoszeń", tasks_path, class: "active" %></li>
									<li><%= link_to "Archiwum zgłoszeń", archive_path %></li>
									<% if can? :create, Task %>
									<li class="divider"></li>
									<li><%= link_to "Utwórz nowe zgłoszenie", new_task_path %></li>
									<% end %>
								</ul>
							</li>
							<% if can? :create, Item %>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-hdd"></span> Sprzęt <b class="caret"></b>
									<ul class="dropdown-menu">
										<li><%= link_to "Lista kart sprzętów", items_list_path %></li>
										<li class="divider"></li>
										<li><%= link_to "Utwórz nową kartę sprzętu", item_new_path %></li>
									</ul>
							<% end %>

							<% if can? :create, User %>
							<li class="dropdown" >
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-users"></i> Klienci <b class="caret"></b>
									<ul class="dropdown-menu">
										<li><%= link_to "Lista klientów", clients_list_path %></li>
										<li class="divider"></li>
										<li><%= link_to "Utwórz nowego klienta", client_new_path %></li>
									</ul>
							</li>
							<% end %>
							<% if current_user.role.name == 'menager' %>
							<li><a href="#"><i class="fa fa-bar-chart-o"></i>
 Panel Kierownika</a></li><% end %>
							<li>
								<%if current_user.role.name == 'admin' %>
									<%= link_to admin_dashboard_path, class: "navbar-link" do %>
										<i class="fa fa-laptop"></i> Panel Administracyjny
									<% end %>
								<% end %>
							</li>
						</ul>

						<ul class="nav navbar-nav navbar-right">
							<li>
							<% if user_signed_in? %>
								<%= link_to profile_path(current_user.id), class: "navbar-link" do %>
									<span class="glyphicon glyphicon-user"></span> Twoje konto
								<% end %>
							<% end %>
							</li>
							<li>
								<%= link_to( destroy_user_session_path, :method => :delete, class: "navbar-link") do %>
										<span class="glyphicon glyphicon-off"></span> Wyloguj
								<% end %>
							</li>
								</ul>
							</li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav> 
		</div>
	</div>
</div>